
*{
  padding: 0;
  margin:0;
  text-decoration : none;
  list-style: none;
  box-sizing: border-box;
}
nav.logo{
  width: 20px;
  height: 40px;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 130px;
  width: 100%;
  box-sizing: border-box;
  transition: .5s;
}
nav.black{
  background: rgba(0,0,0,.8);
  height: 80px;
  padding: 10px 50px;
}
nav.black .logo img{
  height: 60px;
}
nav ul {
  float: right;
 margin-top: 0;
  font-size: 30px;
  padding: 20px;
}
nav ul li{
  display:inline-block;
list-style: none;
  margin : 0 3px;
 padding-bottom: 200px;

 margin-top: 0px;

}
nav ul li a {
  color: FloralWhite;
  font-family: sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 5px  13px;
}
nav.black ul li a{
  color: #fff;
  line-height: 60px;
}
a.active ,a:hover{
  background:orangered;
  transition: .5s;}
@media (max-width:858px){
  label.logo{
    font-size:30px;
    padding-left:50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#2c3e50;
  }
}
section.sec1{
  background:url("../image/back.jpg") no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  background-position: center;
  margin-top: 0;
  padding-top: 0;
}
.content p {
  font-family:Helvetica,Arial;
  font-size: 40px;
margin: 90px 400px 20px;
margin-left: 400px;
 color: #0e1a35;
 line-height: 60px;
 font-weight:bold;
 width:50%;
}
.content .para{
      margin-top: 10px;
  font-size: 20px;
line-height: 27px;
font-weight: 400;
margin-bottom: 3px;
    letter-spacing: .7px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    color: #4C4C4C;
}
section.sec2{
 margin: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif;


  justify-content: center;
  align-items:center;
  min-height: 100vh;
}
.container{

 justify-content: space-between;
 flex-wrap: wrap;
 display: flex;

}
.container .box1{
  width: 350px;
  background-image: url("../image/logo2.jpg") ;
  position: relative;
  padding: 2px;
height: 300px;
  background-color: black;

  box-shadow: 0 5px 15px rgba(0,0,0,.1)
  border-radius:4px;
  margin: 30px 10px 30px 80px;
  box-sizing: border-box;
  overflow: hidden;
}
.container .box2{

    position: relative;
  width: 350px;

  background-color: red;
  height: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1)
  border-radius:4px;
  margin: 30px 10px 30px;
  box-sizing: border-box;
  overflow: hidden;

}
.container .box3{
  position: relative;
  width: 350px;
  padding: 2px;

  background-color: black;
  height: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1)
  border-radius:4px;
  margin: 30px 70px 30px 10px;
  box-sizing: border-box;
  overflow: hidden;
}

section.sec3{
  background-size: cover;
  height: calc(100vh - 80px);
  background-position: center;
  margin-top: 0;
  padding-top: 0;

}
.leftbox {
  width:600px;
  padding: 10% 0 0;
  margin:auto;
  float: left;

}
.rightbox{
  float: right;
  width:600px;
  padding: 10% 0 0;
  margin:auto;
}
.form , .rightbox{
  position: relative;
  z-index: 1;
  background: rgba(7, 40 ,195 , 0.8);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.form input  , .rightbox input{
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%
  border:0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button, .rightbox button{
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width:80%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form  button:hover ,.form button:active
{
  background: #43A047;
}
.rightbox button:hover ,.rightbox button:active{
    background: #43A047;
}
.form .message,
.rightbox .message{
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 16px;
  padding-bottom: 10px;
}
.form .message a,
.rightbox .message a{
  color: #4CAF50;
  text-decoration: none;
}
.form .message a:hover,
.rightbox .message a:hover{
  color: FloralWhite;
}
